<div class="page-footer">
      <!--Footer Links-->
      <div class="container-fluid">
            <div class="row">
                  <div class="col-lg-3 col-md-6 ml-auto">
                        <p style="font-weight:bold;text-align:center"> ONLINE SHOPPING</p>
                        <p style=text-align:center> Men </p>
                        <p style=text-align:center> Women</p>
                        <p style=text-align:center> Kids</p>
                  </div>
                  <div class="col-lg-3 col-md-6 ml-auto">
                        <p style="font-weight:bold;text-align:center"> Contact Us</p>
                        <p style=text-align:center> FAQ </p>
                        <p style=text-align:center> T&C</p>
                        <p style=text-align:center> Terms Of Use</p>
                  </div>
                  <div class="col-lg-3 col-md-6 ml-auto">
                        <p style="font-weight:bold;text-align:center"> EXPERIENCE APP ON MOBILE</p>
                        <p style=text-align:center> KEEP IN TOUCH </p>
                  </div>
                  <div class="col-lg-3 col-md-6 ml-auto">
                        <p style="font-weight:bold;text-align:center"> 100% ORIGINAL guarantee for all products at eKart.com</p>

                        <p style=text-align:center> Return within 30days of placing your order </p>
                  </div>
            </div>
      </div>
      <div class="footer-copyright">
            <div class="container-fluid">
                  © 2017 Copyright:
                  <a href="" rel="nofollow"> MyEkart.com </a>

            </div>
      </div>
</div>